---
import Base from '@/layouts/Base.astro';

import TokenomicsHero from "@/components/TokenomicsPage/Hero.astro";
import Stats from '@/components/TokenomicsPage/Stats.astro';
import CustomChart from '@/components/TokenomicsPage/CustomChart.astro';
import CallToAction from '@/components/TokenomicsPage/CallToAction.astro';
import LogoBlock from '@/components/shared/LogoBlock.astro';
---

<Base
	title="Agent Heroes | Tokenomics"
	description="Agent Heroes - More than a meme generator. It’s a control panel for digital storytelling: static images, video memes."
>
	<TokenomicsHero/>
	<Stats/>
	<div class="divider"></div>
	<CustomChart/>
	<CallToAction/>
	<LogoBlock isCtaBlock={true}/>
</Base>

<style lang="scss">
	@use "@/scss/base/wraps" as *;

	.divider {
		margin: 0 2rem 3rem;
		height: 1px;
		background: #212121;
		// remove 4rem as inline margin (see above (2 + 2 = 4))
		width: calc(100% - 4rem);

		@media (min-width:$screen-sm-min) {
			margin: 0 ;
			width: 100%;
		}
	}
</style>