---
import {siteConfig} from "../../siteConfig";
import Button from "./ui/Button.astro";

---

<section id="cta" class="cta">
  <div class="wrapper">
    <div class="left">
      <h4>Join the Community</h4>
      <p>Let your AI agent do the heavy lifting — start creating smarter today.</p>
      <div class="btns">
        <Button as="a" href={siteConfig.twitter} target="_blank" rel="noopener noreferrer" text="Follow us on X" nameIcon="twitter" variant=" -md -center -full -orange btn"/>
        <Button as="a" href={siteConfig.discord} target="_blank" rel="noopener noreferrer" text="Follow us on Discord" nameIcon="discord" variant=" -md -center -full -orange btn"/>
      </div>
    </div>
    
    <picture class="image_wrap">
      <img class="support_img" loading="eager" src="/images/baloon.svg" alt="Call to action image ">
    </picture>

    <picture>
      <source media="(min-width: 90em)" srcset="/images/cta/cta-bg-lg-revert.svg" />
      <source media="(min-width: 48em)" srcset="/images/cta/cta-bg-md.svg" />
      <img class="cta_bg" src="/images/cta/grid-sm.svg" alt="background image">
    </picture>

  </div>

</section>

<script>
  import gsap from 'gsap';
    import ScrollTrigger from 'gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger);


    let cta = document.getElementById('cta');

    const magicScrollCta = () => {
        ScrollTrigger.create({
            animation: tlScrollHeader(),
            trigger: cta,
            start: "top bottom"
        });
    }

    const tlScrollHeader = () => {
        const tl = gsap.timeline();

        tl.set(cta, {willChange: "transform"});

        tl.from(cta, {
            y: 60,
            opacity: 0,
            ease: "expo.out",
            duration: 2,
        }, 0);

        tl.set(cta, {willChange: "auto"});

        return tl;
    }

      document.addEventListener("astro:page-load", () => {
        magicScrollCta();
    });
</script>

<style lang="scss">
  @use "@/scss/base/wraps" as *;

  .cta {
    $root:&;
    max-width: 192rem;
    margin-inline: auto;

    @media (min-width:$screen-sm-min) {
      padding: 1rem 3.2rem 3rem;
      overflow: hidden;
    }

    @media (min-width:$screen-ml-min) {
      padding: 7.2rem 11.5rem 1rem;
    }
    @media (min-width:$screen-ul-min) {
      padding: 10rem 29rem 1rem;
    }

    .wrapper {
      position: relative;
      overflow-x: hidden;
      padding: 5.4rem 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #2d2d2d;
      z-index: 10;

      @media (min-width:$screen-sm-min) {
        padding: 5.2rem 4.8rem 3rem;
        flex-direction: row;
        border: 1px solid #7E7E7E;
        border-radius: 0.6rem;
        overflow-x: visible;
      }

      @media (min-width:$screen-ml-min) {
        padding: 9.8rem 4rem;
      }

      .left {
        color: $color-base;
        text-align: center;
        margin-bottom: 1.8rem;

        @media (min-width:$screen-sm-min) {
          text-align: left;
          flex-basis:29rem;
          margin-bottom: 0;
        }
        @media (min-width:$screen-ml-min) {
          flex-basis: 47rem;
        }

        h4 {
          margin-bottom: 1.4rem;
          font-weight: 600;
          font-size: 2.8rem;
          line-height: 112%;
          letter-spacing: -0.04em;

          @media (min-width:$screen-sm-min) {
            font-size: 3.2rem;
          }
          @media (min-width:$screen-ml-min) {
            font-size: 4.4rem;
          }

        }

        p {
          margin-bottom: 2.4rem;
          margin-inline: auto;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 138%;
          letter-spacing: -0.02em;
          max-width: 80%;

          @media (min-width:$screen-sm-min) {
            max-width: 25rem;
            margin-bottom: 2.4rem;
            font-size: 1.6rem;
            max-width: 95%;
            margin-inline: initial;
          }

          @media (min-width:$screen-ml-min) {
            font-size: 1.8rem;
            max-width: 31rem;
            margin-inline: initial;
            margin-bottom: 3.2rem;
          }
        }

        .btns {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          padding-inline: 4.5rem;
          
          @media (min-width:$screen-sm-min) {
            padding-inline: initial;
            max-width: 23.2rem;
            gap: 1.2rem
          }
          @media (min-width:$screen-ml-min) {
            flex-direction: row;
            max-width: 100%;
          }

          .btn {
            align-items: center;
          }
        }
      }

      .image_wrap {
        display: flex;
        justify-content: center;

        .support_img {
          position: relative;
          left: 2rem;
          width: 100%;
          object-fit: fill;
          z-index: 100;

          @media (min-width:$screen-sm-min) {
            position: absolute;
            bottom: 0;
            right: -2.5rem;
            left: initial;
            width: 56%;
          }
          @media (min-width:$screen-ml-min) {
            width: 57%;
            right: -5rem;
          }
        }
      }
    }
    .cta_bg {
      position: absolute;
      bottom: 0;
      left: -5rem;
      z-index: -1;
      width: 120%;
      height: 65%;
      object-fit: fill;

      @media (min-width:$screen-sm-min) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        left: 0;
        border-radius: 0.6rem;
      }

      @media (min-width:$screen-ml-min) {
        object-fit: fill;
        top: 0;
        left: 0;
        width: 130%;
        height: 100%;
      }
    }
  }
</style>