---

---

<section class="ah-place">
    <div class="ah-place-content">
        <div class="ah-place-container">
            <div class="ah-place-text">
                <h2>Introduction</h2>
                <p>Welcome to Agent Heroes! These Terms of Service ("Terms") govern your use of our
                    software-as-a-service (SaaS) offerings. By accessing or using our services, you agree to comply with
                    and be bound by these Terms. If you do not agree with these Terms, please do not use our
                    services.</p>
                <p>Our services provide various features designed to improve your workflow and productivity. It is
                    important that you understand your rights and responsibilities while using our services. This
                    document outlines the <a href="#">rules and guidelines</a> that you must follow to ensure a safe and
                    positive experience for all users.</p>
                <h2>1. Communications</h2>
                <p>By creating an Account on our Service, you agree to subscribe to newsletters, marketing or
                    promotional materials and other information we may send. However, you may opt out of receiving any,
                    or all, of these communications from us by following the unsubscribe link or by emailing at.</p>
                <h2>2. Acceptable Use</h2>
                <p>Your use of the Services (which include, for the purposes of this Section 2, participation in
                    community forums or similar discussion spaces, if applicable) is subject to the following
                    requirements:</p>
                <ol>
                    <li><p>The Services may only be used for lawful purposes.</p></li>
                    <li>
                        <p>You shall not attempt to undermine the security or integrity of computing systems or networks
                            belonging to the Service Provider or any other individuals or entities, and must not attempt
                            to gain unauthorized access to any such systems or networks.</p>
                        <ol>
                            <li><p>You shall not attempt to contribute to or enable the selling or distribution of
                                illegal goods and services.</p></li>
                            <li><p>The Services and/or network resources may not be used to impersonate another person
                                or entity, or to misrepresent authorization to act on behalf of another person or
                                entity.</p></li>
                        </ol>
                    </li>
                </ol>
                <p>The final decision regarding whether an account is in violation of any of these acceptable use terms
                    is at the sole discretion of the <a href="#">Service Provider</a>. You agree that violations of this
                    Agreement by yourself or any person or entity acting under your account may result, in addition to
                    any other remedies, in the termination of your access to the Services and the removal of all
                    associated projects and deployments.</p>
                <h2>3. Security and Compliance</h2>
                <h3>3.1 General</h3>
                <p>You shall configure Your Content, including any of your projects or deployments, to ensure that the
                    transmission, storage, or use in any way does not expose personal data or personal information
                    without proper consent from individuals as required by applicable law.</p>
                <h3>3.2 PCI Compliance</h3>
                <p>The Service Provider is not a payment processor. If Your Content or Your Data is subject to the
                    Payment Card Industry Data Security Standards (PCI DSS), you acknowledge that you are responsible
                    for maintaining and monitoring compliance with PCI DSS requirements as outlined by the PCI Security
                    Standards Council, as may be updated from time to time.</p>
                <h3>3.3 HIPAA Compliance</h3>
                <p>You shall not use the Services to host any Protected Health Information or information subject to the
                    Health Insurance Portability and Accountability Act (HIPAA), unless you first obtain prior written
                    approval from the Service Provider.</p>
                <h2>4. Limitation of Liability</h2>
                <p>Except for your breach of Sections 1, 2, or 3, any representations or warranties, or your indemnity
                    obligations, neither party nor its suppliers, affiliates, or representatives will be liable for any
                    matter related to this Agreement under any theory, including contract, negligence, or strict
                    liability. This includes: (A) errors, data loss, or costs of replacement goods or services; (B)
                    indirect, special, incidental, or punitive damages; or (C) direct damages exceeding the greater of
                    $100 or the total fees you paid for the Services in the six months preceding the liability. These
                    limitations reflect the risk allocation agreed upon in this Agreement.</p>
                <h2>5. Data Collection, Use, and Disclosure</h2>
                <p>We collect and process personal information about you only where we have a legal basis for doing so
                    under Data Privacy Laws. Our legal bases for processing personal information include:</p>
                <ul>
                    <li>Your Consent. Where appropriate or legally required, we collect and use your personal
                        information subject to your consent.
                    </li>
                    <li>Performance of Contract. We collect and use your personal information to contract with you or to
                        perform a contract that you have with us.
                    </li>
                    <li>
                        Compliance with Laws. We may also collect and use personal information about you:
                        <ul>
                            <li>As required by law, such as to comply with a subpoena or similar legal process;</li>
                            <li>When we believe in good faith that disclosure is necessary to protect our rights or
                                property, protect your health and safety or the health and safety of others, investigate
                                fraud, or respond to a government request; or
                            </li>
                            <li>If we participate in a merger, acquisition, or sale of all or a portion of assets.r</li>
                        </ul>
                    </li>
                </ul>
                <h2>6. Data Protection</h2>
                <h3>6.1 International Transfers of Data</h3>
                <p>To the extent that Your Content or Your Data is subject to any applicable data protection or privacy
                    law, as defined in the Data Processing Addendum ("DPA"), and is processed or stored on your behalf
                    in connection with the Services, you agree to the terms of the DPA.</p>
                <h3>6.2 Use of Your Data</h3>
                <p>The Service Provider may use and disclose Your Data only as necessary to provide the Services and
                    ensure security against fraud, abuse, malware, and other threats. The Service Provider will not
                    sell, disclose, or share Your Data with anyone else. </p>
                <h3>6.2.1 Data Retention</h3>
                <p>The Service Provider will retain Your Data only for as long as necessary to fulfill the purposes for
                    which it was collected, to comply with legal obligations, or as otherwise permitted by law. Once the
                    retention period has expired, Your Data will be securely deleted or anonymized to prevent
                    unauthorized access or use.</p>
                <h3>6.2.2 Data Access</h3>
                <p>You may request access to Your Data at any time to review, update, or correct inaccuracies. The
                    Service Provider will provide mechanisms to facilitate such access in accordance with applicable
                    data protection laws. If Your Data needs to be modified or removed, requests will be processed
                    promptly, subject to any legal requirements that may restrict changes or deletions.</p>
                <h2>7. Prohibited Uses</h2>
                <p>You may use Service only for lawful purposes and in accordance with Terms. You agree not to use
                    Service for:</p>
                <ol>
                    <li>Spamming. You are prohibited from sending unsolicited messages without prior consent.</li>
                    <li>Phishing. You are prohibited from sending fraudulent emails that attempt to steal information.
                    </li>
                    <li>Illegal Activities. You are prohibited from using our email service to engage in any illegal
                        activities.
                    </li>
                </ol>
                <h2>Contact Us</h2>
                <p>If you have any questions about these Terms, please contact us at:</p>
                <ul>
                    <li>
                        Email: agent.heroes@io.com
                        <ul>
                            <li>
                                Ensure the email address is valid.
                                <ul>
                                    <li>Check the email regularly for any correspondence.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Phone: +41 238 01 21
                        <ul>
                            <li>
                                Provide a number that is available during business hours.
                                <ul>
                                    <li>Provide a number that is available during business hours.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>To report any violations of these Terms of Service or to pose any questions regarding this Terms of
                    Service or the Service please contact us.</p>
            </div>
        </div>
    </div>
</section>

<script>
    import gsap from 'gsap';
    import ScrollTrigger from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);

    let text = document.querySelector('.ah-place-text');

    const magicScroll = () => {
        ScrollTrigger.create({
            animation: tlScroll(),
            trigger: text,
            start: "top bottom"
        });
    }

    const tlScroll = () => {
        const tl = new gsap.timeline();

        tl.set(text, {willChange: "transform"});

        tl.from(text, {
            y: 60,
            opacity: 0,
            ease: "expo.out",
            stagger: 0.07,
            duration: 2,
        }, 0.2);

        tl.set(text, {willChange: "auto"});

        return tl;
    }

    document.addEventListener("astro:page-load", () => {
        magicScroll();
    });
</script>


<style lang="scss">
    @use "../scss/base/wraps" as *;

    .ah-place {
        $root:&;

        &-content {
            padding:6rem 0;

            @media (min-width:$screen-sm-min) {
                padding:8rem 0;
            }
        }

        &-container {
            @extend .ah-container;

            @media (min-width:$screen-ml-min) {
                padding:0 36.5rem;
            }

            @media (min-width:$screen-ul-min) {
                padding:0 60rem;
            }
        }

        &-text {
            font-size:1.4rem;
            font-style:normal;
            font-weight:400;
            line-height:135%;

            @media (min-width:$screen-sm-min) {
                font-size:1.8rem;
                line-height:150%;
            }

            & > * {
                margin:2rem 0 0;
            }

            h2 {
                margin:4rem 0 0;

                font-size:2.4rem;
                font-weight:600;
                line-height:135%;

                @media (min-width:$screen-sm-min) {
                    margin:4.5rem 0 0;

                    font-size:2.8rem;
                    line-height:150%;
                }

                &:first-child {
                    margin:0;
                }
            }

            h3 {
                margin:2.8rem 0 0;

                font-size:2rem;
                font-weight:600;
                line-height:135%;

                @media (min-width:$screen-sm-min) {
                    margin:3.6rem 0 0;

                    line-height:150%;
                }
            }

            q {
                display:block;

                color:#EEEFF1;
            }

            p {
                color:#EEEFF1;
            }

            ol,
            ul {
                padding:0 0 0 2.2rem;

                color:#EEEFF1;

                @media (min-width:$screen-sm-min) {
                    padding:0 0 0 3rem;
                }

                li {
                    margin:1.3rem 0 0;

                    @media (min-width:$screen-sm-min) {
                        margin:1.8rem 0 0;
                    }
                }
            }

            ul {
                list-style-type:"– ";
            }

            a {
                color:$color-quaternary;

                text-decoration:none;

                transition:color ease-out .4s;

                &:hover {
                    color:#FD8F35;
                }
            }
        }
    }
</style>